<!DOCTYPE html>
<html lang="en">
<head>
    <title>Redisafe | Home</title>
</head>
<head>
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Redisafe</title>
        <meta name="keywords" content="HTML5 Theme" />
        <meta name="description" content="Megakit - HTML5 Theme">
        <meta name="author" content="keenthemes.com">

        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">

        <!-- Vendor Styles -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/animate.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/themify/themify.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css"/>

        <!-- Theme Styles -->
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="css/global/global.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    </head>
<body>
<header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <nav class="s-header-v2__navbar">
                <div class="container g-display-table--lg">
                    <!-- Navbar Row -->
                    <div class="s-header-v2__navbar-row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="s-header-v2__navbar-col">
                            <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                                <span class="s-header-v2__toggle-icon-bar"></span>
                            </button>
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                            <!-- Logo -->
                            <div class="s-header-v2__logo">
                                <a href="/" class="s-header-v2__logo-link">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default"  src="logo-redisafe.png" alt="Ecell Logo" height="50">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="logo-redisafe.png" alt="StartUp Conclave" height="60">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                                <ul class="s-header-v2__nav">
                                    <li class="s-header-v2__nav-item"><a href="/" class="s-header-v2__nav-link">Home</a></li>
                                    <li class="s-header-v2__nav-item"><a href="/scan" class="s-header-v2__nav-link">Scan</a></li>
                                </ul>
                            </div>
                            <!-- End Nav Menu -->
                        </div>
                    </div>
                    <!-- End Navbar Row -->
                </div>
            </nav>
            <!-- End Navbar -->
        </header>


<!--========== PROMO BLOCK ==========-->
<div class="s-promo-block-v1 g-fullheight--md">

    <div class="container g-ver-center--md g-padding-y-80--xs g-padding-y-100--sm">
        <div class="row">

            <div class="col-lg-6 col-sm-8 g-hor-centered-row__col g-text-center--xs g-text-left--md g-margin-b-60--xs g-margin-b-0--md">
                    <div class="s-promo-block-v3 g-margin-b-30--xs g-margin-t-60--xs">
                        <h1 class="g-font-size-36--xs g-font-size-45--sm g-font-size-55--sm g-font-size-60--lg g-margin-b-40--xs g-color--primary g-font-weight--600">REDISAFE</h1>
                        <p class="g-font-size-20--xs g-font-size-24--md g-color--dark g-margin-b-0--xs">A full-scaled AI tool for radiology clinics and hospitals that can automate the process of PPE safety check for medical staff with high accuracy and power of Redis AI & event driven architecture.</p>
                    </div>
                    <span class="g-display-block--xs g-display-inline-block--lg g-margin-b-10--xs g-margin-b-0--lg">
                        <a href="/scan" class="text-uppercase g-width-200--xs btn-block s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">
                            <span class="g-display-block--xs g-font-size-13--xs">Scan Now</span>
                        </a>
                    </span>
            </div>
            <div class="col-md-6">
                <img width="100%" src="img/background/mask.png" alt="">
            </div>

        </div>
    </div>
</div>

    <!-- Parallax -->
    <div class="s-promo-block-v2 g-bg-position--center js__parallax-window">
        <div class="g-container--md g-text-center--xs g-padding-y-80--xs g-padding-y-80--sm">

            <h3 class="g-font-size-35--xs g-font-size-45--sm g-color--white g-font-weight--600">Corona Virus - A Worldwide Pandemic</h3>

            <p class="g-font-size-20--xs g-color--white">As a live update from CNN, COVID-19, previously known as the novel Coronavirus, has killed more than 110,898 people and infected over 1,805,159 people in 144 countries. (Pettersson et al., 2020) This number is continuing to grow every day. In the United States, the COVID has been spreading rapidly. Currently, all 50 states have declared an emergency over the spread of Coronavirus and they reported over 1,000 confirmed cases, and over two dozen fatalities attributed to COVID-19</p>

            <a href="/about" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50">Learn More</a>
        </div>
    </div>
    <!-- End Parallax -->




        <!--========== END PROMO BLOCK ==========-->
<footer style="background: #f5f5f5">

    <!-- Copyright -->
    <div class="container g-padding-y-20--xs">
        <div class="row">
            <div class="col-xs-6">
                <a href="/">
                    <img class="" height="40" src="logo-redisafe.png" alt="Logo">
                </a>
            </div>
            <div class="col-xs-6 g-margin-t-10--xs g-text-right--xs">
                <p class="g-font-size-14--xs g-margin-b-0--xs g-color--dark">© 2020 Redisafe</p>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>
<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery.migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--{#<script type="text/javascript" src="{% static 'vendor/jquery.smooth-scroll.min.js' %}"></script>#}-->
<script type="text/javascript" src="{% static 'vendor/scrollbar/jquery.scrollbar.min.js' %}"></script>
<!--{#<script type="text/javascript" src="{% static '' %}vendor/swiper/swiper.jquery.min.js"></script>#}-->
<!--{#<script type="text/javascript" src="{% static '' %}vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>#}-->
<script type="text/javascript" src="{% static 'vendor/jquery.wow.min.js' %}"></script>

<!-- General Components and Settings -->
<script type="text/javascript" src="{% static 'js/global.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/header-sticky.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/scrollbar.min.js' %}"></script>
<!--{#<script type="text/javascript" src="{% static '' %}js/components/swiper.min.js"></script>#}-->
<!--{#<script type="text/javascript" src="{% static '' %}js/components/portfolio-4-col-slider.min.js"></script>#}-->
<script type="text/javascript" src="{% static 'js/components/wow.min.js' %}"></script>
</body>
</html>
